# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_CLOUDINARY_URL=cloudinary://<your_api_key>:<your_api_secret>@dkjpuzbdk
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dkjpuzbdk
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=profile_picture
